networkx
geomeppy
eppy
matplotlib>=3.2  # because of TwoSlopesNorm
pycountry
scikit-learn
pandas>=1.2.0
numpy>=1.17
tqdm
tabulate
path
tsam
pint
click
outdated
deprecation
sigfig
energy-pandas==0.1.2
setuptools_scm
